.container_about{
    width: 80%;
    height: 70vh;
  
    margin-right: auto;
    margin-left: auto;
}


.content_profil{

    height: 30vh;
    margin-top: 22%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

 .content_img{
    width: 30%;
    border-radius: 50%;
    
}

.content_name .content_download{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content_profil .content_photo{
    display: flex;
    justify-content: flex-end;
}

.content_profil .content_name{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content_download .content_btn{
    border: none;
    background-color: #3e3131;
    color: white;
    padding: 15px 15px;
    border-radius: 10px;
}