.container_about {
  width: 80%;
  height: 70vh;
  margin-right: auto;
  margin-left: auto;
}

.container_about .content_about {
  margin-top: 98px;
  width: 100%;
}

.container_about .content_about p {
  margin-top: 16px;
  text-align: justify;
}

.container_about .content_elements {
  display: flex;
  margin-top: 38px;
  margin-bottom: 30px;
}

.container_about .content_elements div p {
  margin-top: 18px;
  text-align: justify;
  
}

.container_about .content_elements div {
  margin-left: 18px;
}

.container_about .content_profil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

.content_profil .content_iconfa{
    margin-top: 20px;
    font-size: 20px;
}

.content_iconfa .si_fa1, .content_iconfa .si_fa2, .content_iconfa .si_fa3{
    margin-left: 20px;
    
}

.content_download .content_btn {
  border: 1px solid #000;
  background-color: none;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
}
