.container_home{
    width: 100%;
    height: 50vh;
    border: 1px solid black;
    background-color: rgb(137, 190, 196);
    
}

.content_home{
    width: 70%;
    height: 30vh;
    border: 1px solid black;
    background-color: rgb(137, 190, 196);
    margin-right: auto;
    margin-left: auto;
    margin-top: 8%;
}